
$primary: #283593; // Update blue
//$body-size: 14px;


$social: #556270;
$educacion: #36bab1;
$comunicacion: #7d499a;
$ambiente: #BD1550;
$cultura: #851B06;
$salud: #47588E;
$deporte: #F77845;
$empleo: #7A9816;


@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Oxygen:300,400,700|Raleway:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');

@import "font-awesome.min.css";

@import "bulma";

@import "common";
@import "wizard";
@import "home";
@import "proyecto";
