<div class="grid-item">
    <div class="card">
        <div class="card-image">
            <span class="categoria tag is-##CATEGORY##">##CATEGORIANOMBRE##</span>
            <div class="notification is-##CATEGORY## has-text-centered">
                <img src="##BASEURL##/assets/img/muscle.svg" alt="" class="banco-icon"> <h1 class="title is-5 is-800">##VOTOS##</h1>
            </div>
            <a href="##PROYECTOLINK##">
                <figure class="image is-4by3" style="background-image: url(##IMAGENURL##)">
                </figure>
            </a>
            <a href="##PROYECTOLINK##" class="avatar-link">
                <img class="avatar image is-32x32" src="##USUARIOIMG##" alt="">
            </a>
        </div>
        <div class="card-content is-##CATEGORY##">
            <div class="has-text-centered">
                <a href="##PROYECTOLINK##"><h1 class="title is-4 is-500 is-raleway">##PROYECTONOMBRE##</h1><h1 class="title is-6">##GRUPO##</h1></a>
            </div>
        </div>
    </div>
</div>
