<article id="responder-{{comentarioid}}" class="media respuesta responder" style="display:none">
    <div class="media-left">
        <figure class="image is-24x24">
            <img src="https://pbs.twimg.com/profile_images/821237983219224576/GyC2dS0J.jpg" alt="Image">
        </figure>
    </div>
    <div class="media-content">
        <div class="content is-small">
            <div class="field">
                <p class="control">
                    <input class="input is-small" type="text" placeholder="Tu respuesta">
                </p>
            <a href="#" class="button is-primary is-small is-hidden-tablet">Enviar</a>

            </div>
        </div>
    </div>
        <div class="media-right is-hidden-mobile">
            <a href="" class="button is-primary is-small">Enviar</a>
        </div>
</article>
